# 1. IF STATEMENT

### Un archivo .csv llamado notas está en la carpeta data. Esta base de datos posee información de algunos postulantes universitarios a la universidad. Use if statement para crear una nueva columna e indicar si el el alumno ingreso o no (nota minima aprobatoria es 11). Luego crear un columna para colocar el nombre completo de la carrera a la que postulo el alumno (a001 : Economia, a002: quimica, a003: filosofia).

In [1]:
postulantes <- read.csv("../../data/notas.csv" )

In [2]:
postulantes

   ï..alumnos notas carrera
1  DIEGO      10    a001
2  GABRIEL     4    a001
3  ANDRE       7    a001
4  ANDRES     16    a002
5  FERNANDO   16    a003
6  MILAGROS   19    a002
7  OSCAR       9    a001
8  RODRIGO     1    a003
9  ALEJANDRO   7    a001
10 LORENZO    21    a001
11 ELIANE     18    a001
12 ALDAIR     15    a002
13 LUIS        0    a004
14 JAVIER     12    a001
15 ALONSO     17    a002
16 MARCO      18    a001
17 SEBASTIAN  15    a004
18 LUZCIA      0    a001
19 NAYEL      18    a004
20 JOAQUIN     4    a002
21 ILIZARBE    6    a001
22 VIVIANA    18    a004
23 LUIS       10    a004
24 ROCIO      13    a002
25 LEIDY      21    a001
26 MELISSA    16    a002
27 FERNANDO   15    a001
28 MARTIN     21    a001
29 DANIELA    17    a003
30 GONZALO     7    a001
31 SOFIA       6    a003
32 ANGEL      10    a004
33 CAMILA      1    a001
34 ROSA        3    a001
35 MARCELO    21    a002
36 JOSUE      16    a001
37 RUBEN      19    a002
38 HUGO       13    a003

In [3]:
names(postulantes)

[1] "ï..alumnos" "notas"      "carrera"

In [4]:
nrows <- dim(postulantes)[1]
i <- 1

while (i < nrows){
    
    if (postulantes$notas[i] < 11){
        postulantes$estado[i] = "no ingresó"
}
    else {
        postulantes$estado[i] = "ingresó"
    } 
    i <- i + 1
}

postulantes

   ï..alumnos notas carrera estado
1  DIEGO      10    a001    no ingresó
2  GABRIEL     4    a001    no ingresó
3  ANDRE       7    a001    no ingresó
4  ANDRES     16    a002    ingresó
5  FERNANDO   16    a003    ingresó
6  MILAGROS   19    a002    ingresó
7  OSCAR       9    a001    no ingresó
8  RODRIGO     1    a003    no ingresó
9  ALEJANDRO   7    a001    no ingresó
10 LORENZO    21    a001    ingresó
11 ELIANE     18    a001    ingresó
12 ALDAIR     15    a002    ingresó
13 LUIS        0    a004    no ingresó
14 JAVIER     12    a001    ingresó
15 ALONSO     17    a002    ingresó
16 MARCO      18    a001    ingresó
17 SEBASTIAN  15    a004    ingresó
18 LUZCIA      0    a001    no ingresó
19 NAYEL      18    a004    ingresó
20 JOAQUIN     4    a002    no ingresó
21 ILIZARBE    6    a001    no ingresó
22 VIVIANA    18    a004    ingresó
23 LUIS       10    a004    no ingresó
24 ROCIO      13    a002    ingresó
25 LEIDY      21    a001    ingresó
26 MELISSA    16    a002    ingresó
27 FERNANDO   15    a001    ingresó
28 MARTIN     21    a001    ingresó
29 DANIELA    17    a003    ingresó
30 GONZALO     7    a001    no ingresó
31 SOFIA       6    a003    no ingresó
32 ANGEL      10    a004    no ingresó
33 CAMILA      1    a001    no ingresó
34 ROSA        3    a001    no ingresó
35 MARCELO    21    a002    ingresó
36 JOSUE      16    a001    ingresó
37 RUBEN      19    a002    ingresó
38 HUGO       13    a003    no ingresó

In [15]:
nrows <- dim(postulantes)[1]
i <- 1

while (i < nrows){
    
    if (postulantes$carrera[i] == 'a001'){
        postulantes$nombre_carrera[i] = 'Economía'
}
    else if (postulantes$carrera[i] == 'a002'){ 
             postulantes$nombre_carrera[i] = 'Química'
    } 
    else if (postulantes$carrera[i] == 'a003'){
             postulantes$nombre_carrera[i] = 'Filosofía'
    } 
    else {
        postulantes$nombre_carrera[i] = '-'
    }
    i <- i + 1
}

postulantes

   ï..alumnos notas carrera estado     nombre_carrera
1  DIEGO      10    a001    no ingresó Economía
2  GABRIEL     4    a001    no ingresó Economía
3  ANDRE       7    a001    no ingresó Economía
4  ANDRES     16    a002    ingresó    Química
5  FERNANDO   16    a003    ingresó    Filosofía
6  MILAGROS   19    a002    ingresó    Química
7  OSCAR       9    a001    no ingresó Economía
8  RODRIGO     1    a003    no ingresó Filosofía
9  ALEJANDRO   7    a001    no ingresó Economía
10 LORENZO    21    a001    ingresó    Economía
11 ELIANE     18    a001    ingresó    Economía
12 ALDAIR     15    a002    ingresó    Química
13 LUIS        0    a004    no ingresó -
14 JAVIER     12    a001    ingresó    Economía
15 ALONSO     17    a002    ingresó    Química
16 MARCO      18    a001    ingresó    Economía
17 SEBASTIAN  15    a004    ingresó    -
18 LUZCIA      0    a001    no ingresó Economía
19 NAYEL      18    a004    ingresó    -
20 JOAQUIN     4    a002    no ingresó Química
21 ILIZARBE    6    a001    no ingresó Economía
22 VIVIANA    18    a004    ingresó    -
23 LUIS       10    a004    no ingresó -
24 ROCIO      13    a002    ingresó    Química
25 LEIDY      21    a001    ingresó    Economía
26 MELISSA    16    a002    ingresó    Química
27 FERNANDO   15    a001    ingresó    Economía
28 MARTIN     21    a001    ingresó    Economía
29 DANIELA    17    a003    ingresó    Filosofía
30 GONZALO     7    a001    no ingresó Economía
31 SOFIA       6    a003    no ingresó Filosofía
32 ANGEL      10    a004    no ingresó -
33 CAMILA      1    a001    no ingresó Economía
34 ROSA        3    a001    no ingresó Economía
35 MARCELO    21    a002    ingresó    Química
36 JOSUE      16    a001    ingresó    Economía
37 RUBEN      19    a002    ingresó    Química
38 HUGO       13    a003    no ingresó Economía

### Use un loop while para mostrar el nombre de las personas ingresantes a la carrera de quimia.

In [ ]:
nrows <- dim(postulantes)[1]
i <- 1

while (i < nrows){
    
    if (postulantes$estado[i] == 'ingresó' & postulantes$nombre_carrera[i] == 'Química'){
        print(postulantes$ï..alumnos[i])
    }
   i <- i + 1
}